<!DOCTYPE html>
<html>
<head>
    <title>Hello Friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
<h1>Favorite Animals Photos</h1>
<ul>
    <li><img src='/images/pic-one.jpg' alt=''/></li>
    <li><img src='/images/pic-two.jpg' alt=''/></li>
    <li><img src='/images/pic-three.jpg' alt=''/></li>
</ul>
</body>
</html>